/*index.html css*/
body {
  padding-top: 60px;
}


#mainbody {
  min-height: 800px;
}

#sidebarhead {
  margin-top: 60px;
}

#sidebarhead>h3 {
padding-bottom: 5px;
}

.results {
  display: none;
  margin-top: 50px;
}


#recomendation {
color: red;
}

.image {
   position: relative;
   width: 100%; 
}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}
